<p id="notice"><%= notice %></p>

<h1>Standups</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Comments</th>
      <th>Meetings</th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standups.each do |standup| %>
      <tr>
        <td><%= standup.date %></td>
        <td><%= standup.comments %></td>
        <td><%= standup.meetings %></td>
        <td><%= standup.team %></td>
        <td><%= link_to 'Show', standup %></td>
        <td><%= link_to 'Edit', edit_standup_path(standup) %></td>
        <td><%= link_to 'Destroy', standup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standup', new_standup_path %>
