%h1
  Hello, Scrum Master!

= form_for @standup, html: { class: 'mailform' } do |form|
  .input
    - @groups.each do |group|
      .groups
        .team-members
          - group.team_members.each do |team_member|
            .team-member
              .name
                = team_member.full_name
              .notes
                = form.fields_for 'standup_team_members' do |standup_team_member_form|
                  .yesterday
                    = standup_team_member_form.text_field :yesterday
                  .today
                    = standup_team_member_form.text_field :today
