<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @standup.date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @standup.comments %>
</p>

<p>
  <strong>Meetings:</strong>
  <%= @standup.meetings %>
</p>

<p>
  <strong>Team:</strong>
  <%= @standup.team %>
</p>

<%= link_to 'Edit', edit_standup_path(@standup) %> |
<%= link_to 'Back', standups_path %>
