<%= form_for(standup_team_member) do |f| %>
  <% if standup_team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(standup_team_member.errors.count, "error") %> prohibited this standup_team_member from being saved:</h2>

      <ul>
      <% standup_team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :standup_id %>
    <%= f.text_field :standup_id %>
  </div>

  <div class="field">
    <%= f.label :today %>
    <%= f.text_area :today %>
  </div>

  <div class="field">
    <%= f.label :yesterday %>
    <%= f.text_area :yesterday %>
  </div>

  <div class="field">
    <%= f.label :team_member_id %>
    <%= f.text_field :team_member_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
