<p id="notice"><%= notice %></p>

<p>
  <strong>Standup:</strong>
  <%= @standup_team_member.standup %>
</p>

<p>
  <strong>Today:</strong>
  <%= @standup_team_member.today %>
</p>

<p>
  <strong>Yesterday:</strong>
  <%= @standup_team_member.yesterday %>
</p>

<p>
  <strong>Team member:</strong>
  <%= @standup_team_member.team_member %>
</p>

<%= link_to 'Edit', edit_standup_team_member_path(@standup_team_member) %> |
<%= link_to 'Back', standup_team_members_path %>
