!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Scrumlord
    = csrf_meta_tags
    %link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    %link(rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    = stylesheet_link_tag    'application', media: 'all'
    = Gon::Base.render_data
    %script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
    = javascript_include_tag 'application'
  %body
    = yield
    %div(aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="toast-notice")
      .mdl-snackbar__text
      %button{class: "mdl-snackbar__action", type: "button"}
    %div(aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="toast-alert")
      .mdl-snackbar__text
      %button{class: "mdl-snackbar__action", type: "button"}
